body{
    padding: 0%;
    margin: 0%;
    font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yeseva One', cursive;
color: #283550;
}
h2{
        font-family: 'Poppins', sans-serif;
        font-size: 38px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px; 
}
#header{
font-size: 50px;
padding-left: 13px;
border-left: 5px #2D0BFF;
border-top: 0ch;
border-bottom: 0ch;
border-right: 0ch;
border-style: solid;
color: #283550;
}
#header2{
        text-align: center;
}


p{
    color: #3E3E3E;
    font-size: 18;
    font-family:'Poppins', sans-serif;
    margin-bottom: 47px;
    margin-top: 30px;
    text-align: start;
}
.para{
    color: #424242;
    font-size: 16;
    font-family:'Poppins', sans-serif; 
}
a{
    text-decoration: none;
    background-color: #2D0BFF;
    padding: 12px 31.5px;
    border-radius: 5px;
    color: white;
    font-size: 18;
    font-family:'Poppins', sans-serif;
    margin-top: 18px;

}
.green-color{
   color: #00A78E; 
}
.flex{
   display: flex;
   margin-bottom: 60px;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 10px;
}

.half-width{
    width: 80%;
}
.flex img{
    width: 75%;

}
.mission{ 
    padding: 5px 35px;
    border-radius: 25px;
    width: 100%;
    background-color: rgba(79, 157, 166, 0.1);
}
.vission{ 
    padding: 5px 35px;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    background-color: rgba(255, 89, 89, 0.1)
}

.goals{ 
    padding: 5px 35px;
    border-radius: 25px;
    width: 100%;
    background-color: rgba(255, 244, 214, 1)
}
.mission-area{
    background-image: url(images/shapes/dot.png);
    background-repeat: no-repeat;
    background-position: right;
}


